ClienteSoap/src/wsdl/localhost_8080/proyectoFinal/ServicioUsuarios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ServicioUsuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/proyectoFinal/ServicioUsuarios?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="existeUsuario">
<part name="parameters" element="tns:existeUsuario"/>
</message>
<message name="existeUsuarioResponse">
<part name="parameters" element="tns:existeUsuarioResponse"/>
</message>
<message name="crearUser">
<part name="parameters" element="tns:crearUser"/>
</message>
<message name="crearUserResponse">
<part name="parameters" element="tns:crearUserResponse"/>
</message>
<portType name="ServicioUsuarios">
<operation name="hello">
<input wsam:Action="http://ws/ServicioUsuarios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/ServicioUsuarios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="existeUsuario">
<input wsam:Action="http://ws/ServicioUsuarios/existeUsuarioRequest" message="tns:existeUsuario"/>
<output wsam:Action="http://ws/ServicioUsuarios/existeUsuarioResponse" message="tns:existeUsuarioResponse"/>
</operation>
<operation name="crearUser">
<input wsam:Action="http://ws/ServicioUsuarios/crearUserRequest" message="tns:crearUser"/>
<output wsam:Action="http://ws/ServicioUsuarios/crearUserResponse" message="tns:crearUserResponse"/>
</operation>
</portType>
<binding name="ServicioUsuariosPortBinding" type="tns:ServicioUsuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioUsuarios">
<port name="ServicioUsuariosPort" binding="tns:ServicioUsuariosPortBinding">
<soap:address location="http://localhost:8080/proyectoFinal/ServicioUsuarios"/>
</port>
</service>
</definitions>